html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background-color: #f4f4f4;

  h3 {
    display: block;
    font-size: 1.1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: normal;
  }
}

.el-aside {
  span {
    font-size: 15px;
  }
}

.el-header {
  .is-link {
    font-weight: 400;
    color: #6d6d6d;
  }
  .el-breadcrumb__item:last-child  .el-breadcrumb__inner {
    color: #ededed;
  }
}
