.container {
  display: flex;
  height: 100%;
  .login-container {
    width: 350px;
    margin: auto;
    padding: 2rem;
    border: 1px solid #eaeaea;
    border-radius: 1rem;
    box-shadow: 0 0 25px #eaeaea;
    background-clip: padding-box;
    background-color: #fff;
    .login-title {
      margin: 0 auto 1.8rem;
      font-size: 1.3rem;
      text-align: center;
      color: #555;
    }
    .login-submit {
      margin: 1.8rem auto 0;
      text-align: center;
      .el-form-item__content {
        margin: auto !important;
      }
    }
  }
}
